<% provide(:title,"新規登録") %>
<% breadcrumb :sign_in %>


<div class="main">
<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（再入力） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
  <%= f.label :プロフィール画像（任意） %><br/>
  <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <input type="submit" value="新規登録" class="btn btn-primary">
  </div>
<% end %>
<br>
<%#= render "devise/shared/links" %>
</div>
