<div class="search-index-item">
  <div class="search-show-item">
    <div class="show-tag-image">
      <%= link_to "/search?keyword=#{tag.name}" do %>
        <%= image_tag "/default/tag.jpg", alt: "タグのイメージ画像" %>
      <% end %>
    </div>
  </div>

  <div class="search-item-wrapper">
    <div class="search-item-title">
      <%= link_to tag.name, "/search?keyword=#{tag.name}" %>
    </div>
    <div class="search-item-description">
      <p><%= "#{tag.taggings_count}" %>件のレビューがあります</p>
    </div>
    <% if @current_user&.admin? %>
      <div class="comment-edit">
        <%= link_to "削除", "/tags/#{tag.id}", method: "delete" %>
      </div>
    <% end %>
  </div>
</div>
