<% provide(:title, @user.name) %>
<% breadcrumb :user %>


<div class="container">
<div class="users-show">
  <div class="user">
    <img src=<%= @user.image %>>
    <h2><%= @user.name %></h2>

<% unless @user.id == current_user.id %>
  <% if @isRoom == true %>
    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">メッセージ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "メッセージ" %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.id != @user.id %>

    <div class="follow-link">
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー解除", "/relationships/#{@user.id}", method: :delete, remote: true %>
      <% else %>
        <%= link_to "フォロー", "/relationships/?user_id=#{@user.id}", method: :post, remote: true %>
      <% end %>
    </div>
<% end %>

</div>
</div>


  <ul class="user-tabs">
    <li class="<%= @type %>-" id="review"><%= link_to "レビュー(#{@user.reviews.count})", "/users/#{@user.id}?type=review", remote: true %></li>
    <li class="<%= @type %>-" id="watched_item"><%= link_to "観た！(#{@user.watched_items.count})", "/users/#{@user.id}?type=watched_item", remote: true %></li>
    <li class="<%= @type %>-" id="want_to_watch_item"><%= link_to "観たい！(#{@user.want_to_watch_items.count})", "/users/#{@user.id}?type=want_to_watch_item", remote: true %></li>
    <li class="<%= @type %>-" id="liked_review"><%= link_to "いいね！(#{@user.review_likes.count})", "/users/#{@user.id}?type=liked_review", remote: true %></li>
    <li class="<%= @type %>-" id="following"><%= link_to "フォロー(#{@user.following.count})", "/users/#{@user.id}?type=following", remote: true %></li>
    <li class="<%= @type %>-" id="follower"><%= link_to "フォロワー(#{@user.followers.count})", "/users/#{@user.id}?type=follower", remote: true %></li>
  </ul>

  <div class="search-result">
    <%= render partial: "search/review", collection: @results %>
  </div>

</div>
