<% count ||= WantToWatchItem.where(item_id: @item.id).count %>

<% if user_signed_in? %>

<% if WantToWatchItem.find_by(user_id: current_user&.id, item_id: @item.id) %>
  <%= link_to "/want_to_watch_items/#{@item.id}?count=#{count}", data: {"turbolinks" => false}, method: "delete", remote: true do %>
    <span class="fa fa-star want-to-watch-btn">観たい！<%= count %></span>
  <% end %>
<% else %>
  <%= link_to "/want_to_watch_items?item_id=#{@item.id}&count=#{count}", data: {"turbolinks" => false}, method: "post", remote: true do %>
    <span class="fa fa-star-o want-to-watch-btn-unwatch">観たい！<%= count unless count.zero? %></span>
  <% end %>
<% end %>

<% else %>

  <%= link_to new_user_session_path do %>
    <span class="fa fa-star-o want-to-watch-btn-unwatch">観たい！<%= count unless count.zero? %></span>
  <% end %>

<% end %>

</div>
