<li class="review-scroll-wrapper">
  <div class="review-scroll-title">
    <%= review.item.title %>
  </div>

  <div class="review-scroll-userimage">
    <%= link_to "users/#{review.user.id}" do %>
      <%= image_tag review.user.image.url, alt: "ユーザーの画像" %>
    <% end %>
  </div>

  <div class="review-scroll-userside">
    <span class="review-scroll-username">
      <%= review.user.name %>
    </span>

    <span class="review-scroll-time">
      /<%= time_ago_in_words(review.created_at) %>
    </span>

    <div class="review-scroll-score">
      <%= render "items/score", score: review.score %>
      <%= render "shared/rate", review: review %>

    </div>
  </div>

  <div class="review-scroll-content">
    <div class="review-scroll-content-wrapper">
      <% if review.content.length > @digest_length %>
        <%= review.content.slice(0..@digest_rength - 1).concat("…") %>
      <% else %>
        <%= review.content %>
      <% end %>
    </div>

    <p class="review-scroll-span">
      <%= link_to "続きを見る", "items/#{review.item.id}?review_id=#{review.id}" %>
    </p>

  </div>

  <div class="review-scroll-end">
    <% like_count = review.review_likes.count %>
    <span class="fa fa-heart like-btn-unlike review-scroll-margin">いいね！<%= like_count unless like_count.zero? %></span>
    <% comment_count = review.comments.count %>
    <span class="fa fa-comment-o">コメント <%= comment_count unless comment_count.zero? %></span>
  </div>
</li>
