<% provide(:title,"TOP") %>
<% breadcrumb :root %>

<div class="container">
  <h2 class="scroll-title">最近のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @recent_reviews.includes(:user, :item) %>
  </ul>

  <h2 class="scroll-title">高評価のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @popular_reviews.includes(:user, :item) %>
  </ul>

  <h2 class="scroll-title">人気の作品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @popular_items %>
  </ul>

  <h2 class="scroll-title">みんなが観ている作品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @watched_items %>
  </ul>

  <h2 class="scroll-title">みんなが観たい作品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @want_to_watch_items %>
  </ul>

  <% @most_used_tags.each do |tag| %>
    <h2 class="scroll-title">#<%= tag.name %>のタグが付いた作品</h2>
    <ul class="horizontal-list">
      <%= render partial: "home/item", collection: Item.tagged_desc(tag.name).limit(@item_select) %>
    </ul>
  <% end %>
</div>
