<% provide(:title,"ログイン") %>
<% breadcrumb :log_in %>


<div class="main">
<div class="container">
<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を保持する %>
    </div>
  <% end %>

  <div class="actions">
    <input type="submit" value="ログイン" class="btn btn-primary">
  </div>
<% end %>
<br><br>
ポートフォリオ用：
<%= render "devise/sessions/testuser" %>
<%#= render "devise/sessions/admin" %>
<%= render "devise/shared/links" %>
</div>
</div>
