<div class="comment-span show-comments-<%= comment.id %>">
  <div class="comments-user-image">
    <%= link_to "/users/#{comment.user_id}" do %>
      <%= image_tag comment.user.image.url %>
    <% end %>
  </div>

  <div class="comments-user-right">
    <div class="comments-user-name">
      <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
    </div>

    <div class="comments-time">
      <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %>
    </div>
  </div>

  <span class="form-insert">
    <div class="comment-content">
      <%= simple_format(comment.content) %>
    </div>

  <span class="comment-area">
  <%= render "comment_likes/show", comment: comment, count: @count %>
  </span>

<% if user_signed_in? %>
    <% if current_user&.admin? || comment.user_id == current_user.id %>
      <div class="comment-edit">
        <%= link_to("編集", "/comments/#{comment.id}/edit", remote: true) %>
        <%= link_to("削除", comment, method: "delete", remote: true) %>
      </div>
  <% end %>
<% end %>
  </span>
</div>
