<% provide(:title,"作品登録") %>
<% breadcrumb :new_item %>


<div class="main">
<h2>作品登録</h2>

<%= form_with(model: @item, local: true) do |form| %>

  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>

  <p>作品名</p>
    <%= form.text_field :title, :size=>"60" %>

  <p>あらすじ（300文字以内）</p>
    <%= form.text_area :story, size: "60x10" %>

  <p>作品画像</p>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: "item-image" %>

  <br>
  <br>
    <input type="submit" value="登録する" class="btn btn-primary">

<% end %>

</div>
