<% provide(:title, @item.title) %>

<div class="main">
<h2>作品情報</h2>

<p>タイトル：</p>
<p><%= @item.title %></p>

<%= image_tag @item.image.to_s %>

<p>ストーリー:</p>
<p><%= @item.story %></p>

<p><%= link_to "この作品のレビューを書く", "/reviews/new?item_id=#{@item.id}" %></p>

<% if current_user&.admin? %>
      <%= link_to "編集", "/items/#{@item.id}/edit" %>
      <%= link_to "削除", "/items/#{@item.id}", method: "delete",
          data: { confirm: '一度削除すると元に戻すことはできません。本当に削除してよろしいでしょうか？' } %>
<% end %>

<p><%= link_to "作品一覧画面へ", items_path %></p>

<p>この作品のレビュー （count） 件</p>

<%= image_tag @review.user.image.to_s %>
<p><%= @review.user.name %></p>
<p><%= @review.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
<p>（評価）</p>
<p><%= @review.content %></p>

<% if current_user&.admin? || current_user == @review.user? %>
      <%= link_to "編集", "/reviews/#{@review.id}/edit" %>
      <%= link_to "削除", "/reviews/#{@review.id}", method: "delete",
          data: { confirm: '一度削除すると元に戻すことはできません。本当に削除してよろしいでしょうか？' } %>
<% end %>

</div>
