<% provide(:title, @item.title) %>

<div class="main">
<h2>作品情報</h2>

<p>タイトル：</p>
<p><%= @item.title %></p>

<%= image_tag @item.image.to_s %>

<p>ストーリー:</p>
<p><%= @item.story %></p>

<button type="submit" class="btn btn-primary"><%= link_to "編集する", edit_item_path(@item) %></button>

<p><%= link_to "この作品のレビューを書く", "/reviews/new?item_id=#{@item.id}" %></p>

<p><%= link_to "作品一覧画面へ", items_path %></p>

</div>
