<% provide(:title, @item.title) %>
<% breadcrumb :item %>

<div class="container">
  <div class="show-items-<%= @item.id %>">
    <div class="show-items-<%= @item.id %>">

<h2>作品情報</h2>

<p>タイトル：</p>
<p><%= @item.title %></p>

<%= image_tag @item.image.to_s %>

<p>ストーリー:</p>
<p><%= @item.story %></p>

<p><%= link_to "この作品のレビューを書く", "/reviews/new?item_id=#{@item.id}" %></p>

<span class="watched-items">
<%= render "watched_items/show" %>
</span>

<span class="want-to-watch-items">
<%= render "want_to_watch_items/show" %>
</span>

<br>

<% if current_user&.admin? %>
      <%= link_to "編集", "/items/#{@item.id}/edit" %>
      <%= link_to "削除", "/items/#{@item.id}", method: "delete",
          data: { confirm: '一度削除すると元に戻すことはできません。本当に削除してよろしいでしょうか？' } %>
<% end %>

<p><%= link_to "作品一覧画面へ", items_path %></p>

<p>この作品のレビュー <%= @reviews.count %> 件</p>
<p>平均評価 <%= @average_rate %> </p>



<%= render @reviews %>

<%= paginate @reviews %>

    </div>
  </div>
</div>
