<div class="show-item-review show-reviews-<%= review.id %>">

<div class="review-user-left">
<%= image_tag review.user.image.to_s %>
</div>

<div class="review-user-right">
<div class="review-user-name">
  <p><%= link_to review.user.name, "/users/#{review.user_id}", :style=>"color:black;" %></p>
</div>

<div class="review-time">
<p><%= review.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
</div>
</div>

<div class="review-rate">
<%= render "shared/rate", review: review %>
</div>

<div class="review-content">
<p><%= review.content %></p>
</div>

<div class="show-review-tag">
      <% if review.tag_list.any? %>
        <% review.tag_list.each do |tag| %>
          <span class="review-tag" %>
            <%= "#" + tag %>
          </span>
        <% end %>
      <% end %>
    </div>

<span class="review-area">
<%= render "review_likes/show", review: review, count: @count %>
</span>

<span class="fa fa-comment-o">
  <% if current_user %>
    <%= link_to "コメントする", "/comments/new?review_id=#{review.id}", remote: true %>
  <% else %>
    <%= link_to "コメントする", new_user_session_path, :style=>"color:black;" %>
  <% end %>
</span>

<% comment_count ||= review.comments.where.not(user_id: @current_user).count %>
<span class="comment-count <%= comment_count %>">
  <%= comment_count unless comment_count.zero? %>
</span>

<div id="review-<%= review.id %>" class="comment-form hidden">
  <%= form_with(url: "/comments?review_id=#{review.id}" , model: Comment.new) do |form| %>
    <p>コメント</p>
    <%= form.text_area :content %>
    <button type="submit" class="submit-btn">決定</button>
    <button type="reset" class="cancel-btn">キャンセル</button>
  <% end %>
  <div class="clear"></div>
</div>

<div id="latest-comment-<%= review.id %>"></div>
    <%= render partial: "items/comment", collection: review.comments.includes(:user).where.not(user_id: @current_user&.block_ids).order(created_at: :desc) %>

<% if user_signed_in? %>
  <% if current_user&.admin? || review.user_id == current_user.id %>
      <p><%= link_to "編集", "/reviews/#{review.id}/edit" %>
      <%= link_to "削除", "/reviews/#{review.id}", method: "delete",
          data: { confirm: '一度削除すると元に戻すことはできません。本当に削除してよろしいでしょうか？' } %></p>
  <% end %>
<% end %>

</div>
