<% provide(:title, "レビュー投稿") %>

<div class="main">
<h2>レビュー投稿</h2>
<br>
<%= form_with(model: @review, local: true) do |form| %>

  <% @review.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>

  <p>スコア（5点満点）</p>
   <%= form.select :score, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], { include_blank: '選択してください'} %>

<br><br>

  <p>レビュー内容<br>
    <font color="red">&lt;div class="netabare"&gt;</font>文章<font color="red">&lt;/div&gt;</font>で囲うと、ぼかし機能がつきます
  </p>
  <%= form.text_area :content, size: "60x10" %>

  <p>タグ（","で区切ってください）</p>
  <%= form.text_field :tag_list, value: @review.tag_list.join(',') %>

  <%= form.hidden_field :item_id, value: @item.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <br><br>
  <input type="submit" value="投稿する" class="btn btn-primary">

<% end %>
</div>
