<!DOCTYPE html>
<html>
  <title><%= full_title(yield(:title)) %></title>

  <head>
    <title>Anicheck</title>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <%= render "shared/header" %>
  <%= breadcrumbs separator: " &rsaquo; " %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body ontouchstart="">
    <%= yield %>
  </body>

  <%= render "shared/footer" %>

</html>
