<!DOCTYPE html>
<html>
  <title><%= full_title(yield(:title)) %></title>

  <head>
    <title>Anicheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "shared/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>

  <%= render "shared/footer" %>

</html>
